<script>
import { computed, ref } from 'vue';

export default {
    setup() {
        const count = ref(0);

        function addOneToCount() {
            count.value++;
        }

        function subtractOneToCount() {
            if(count.value > 0) count.value--;
        }

        const tenPlusCount = computed(() => {
            return count.value + 10;
        });

        return {
            count,
            addOneToCount,
            subtractOneToCount,
            tenPlusCount,
        };
    }
}
</script>

<template>
    <div>
        <h2>This is your count: {{ count }}</h2>
        <button @click="subtractOneToCount">-</button>
        <button @click="addOneToCount">+</button>
        <p>{{ tenPlusCount }}</p>
    </div>
</template>

<style scoped>

</style>